body {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

svg {
  border: 2px solid black;
  margin: 0 auto;
}

div {
  margin-bottom: 3rem;
  /*text-align: center;*/
}

/*@media only screen and (min-width: 750px) {
  .sd {
    max-width: 768px;
  }
  .hd {
    max-width: 1280px;
  }
}*/
