body {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

svg {
  border: 2px solid black;
  margin: 0 auto;
}

div.heading, div.sd, div.hd {
  margin-bottom: 2.5rem;
}

h1, h2, p {
  padding: 0 1rem;
}

@media only screen and (min-width: 750px) {
  .sd {
    max-width: 768px;
    margin: auto;
  }
  .hd {
    max-width: 1280px;
    margin: auto;
  }
}
